.dimen{
    width:400px;
    height:380px;
    border:1px solid #dfd8d8;
    position: absolute;
    left: 30px;
    background-color: rgb(250, 249, 249);
}

.register{
    position: absolute;
   left: 1600px;
   width: 400px;
   height: 300px;
   
}
.filter{
    position: relative;
    border:1px solid #dfd8d8;
    position: absolute;
    background-color: rgb(250, 249, 249);
}

.profile{
    width: 50px;
    
}

.name{
    position: absolute;
    left: 60px;
    top: -10px;
}

.premium{
    
    position: absolute;
    height: 0;
    width: 60px;
    box-sizing: content-box;
    color: #fff;
    top: 12px;
    left: 263px;
    border-bottom: 20px solid green;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 1;
    z-index: 2;
}

.line{
    width:400px;
    top: 15px;
    border:1px solid #707070;
    position: relative;
}

.profile1{
    width: 25px;
    height: 25px;    
}


.social{
    width: 400px;
    list-style-type: none;
    font: bolder;

    margin: 20;
    padding: 0;
    overflow: hidden;
    
}

.li-arrange{
    margin-left: 10px;
    float: left;
    clear: none;
}

.detail{
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

.location{
    background-color: wheat;
}
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 200px; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    background: #4CAF50;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: rgb(35, 80, 37); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 100px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
  




 